#navbar {
  position:fixed;
  right: 0;
  margin-right: 50px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  #navbar {
    display: none;
  }
}

#welcome-section {
  padding-top: 45vh;
  text-align: center;
   background-color:#e0ebe8;
   min-height: 55vh
}

.headline {
  text-align: center;
   color: #008080
}
