#navbar {
  margin: auto;
  position:fixed
}

@media screen and (max-width: 800px) {
  #navbar {
    display: none;
  }
}

#welcome-section {
  padding-top: 45vh;
  text-align: center;
   background-color:#e0ebe8;
   min-height: 55vh
}

.headline {
  text-align: center;
   color: #008080
}
